Web References/Service.Page/PageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://reddot.de/cms/webservices/navigation/1_1" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://reddot.de/cms/webservices/navigation/1_1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://reddot.de/cms/webservices/navigation/1_1">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreatePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="headline" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="templateId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="linkId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePageResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenamePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="newHeadline" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenamePageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePageSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePage" />
  </wsdl:message>
  <wsdl:message name="CreatePageSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePageResponse" />
  </wsdl:message>
  <wsdl:message name="RenamePageSoapIn">
    <wsdl:part name="parameters" element="tns:RenamePage" />
  </wsdl:message>
  <wsdl:message name="RenamePageSoapOut">
    <wsdl:part name="parameters" element="tns:RenamePageResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePageSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePage" />
  </wsdl:message>
  <wsdl:message name="DeletePageSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePageResponse" />
  </wsdl:message>
  <wsdl:portType name="PageServiceSoap">
    <wsdl:operation name="CreatePage">
      <wsdl:input message="tns:CreatePageSoapIn" />
      <wsdl:output message="tns:CreatePageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenamePage">
      <wsdl:input message="tns:RenamePageSoapIn" />
      <wsdl:output message="tns:RenamePageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <wsdl:input message="tns:DeletePageSoapIn" />
      <wsdl:output message="tns:DeletePageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PageServiceSoap" type="tns:PageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePage">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/CreatePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenamePage">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/RenamePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/DeletePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PageService">
    <wsdl:port name="PageServiceSoap" binding="tns:PageServiceSoap">
      <soap:address location="http://rustylogiccms/CMS/Services/PageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>