Web References/Service.Session/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://reddot.de/cms/webservices/navigation/1_1" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://reddot.de/cms/webservices/navigation/1_1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://reddot.de/cms/webservices/navigation/1_1">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectLanguageByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="languageKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectLanguageByKeyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectLanguageById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="languageId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectLanguageByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SelectProjectSoapIn">
    <wsdl:part name="parameters" element="tns:SelectProject" />
  </wsdl:message>
  <wsdl:message name="SelectProjectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectProjectResponse" />
  </wsdl:message>
  <wsdl:message name="SelectLanguageByKeySoapIn">
    <wsdl:part name="parameters" element="tns:SelectLanguageByKey" />
  </wsdl:message>
  <wsdl:message name="SelectLanguageByKeySoapOut">
    <wsdl:part name="parameters" element="tns:SelectLanguageByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SelectLanguageByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectLanguageById" />
  </wsdl:message>
  <wsdl:message name="SelectLanguageByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectLanguageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="SessionServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectProject">
      <wsdl:input message="tns:SelectProjectSoapIn" />
      <wsdl:output message="tns:SelectProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectLanguageByKey">
      <wsdl:input message="tns:SelectLanguageByKeySoapIn" />
      <wsdl:output message="tns:SelectLanguageByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectLanguageById">
      <wsdl:input message="tns:SelectLanguageByIdSoapIn" />
      <wsdl:output message="tns:SelectLanguageByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionServiceSoap" type="tns:SessionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProject">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/SelectProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLanguageByKey">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/SelectLanguageByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLanguageById">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/SelectLanguageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://reddot.de/cms/webservices/navigation/1_1/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="SessionServiceSoap" binding="tns:SessionServiceSoap">
      <soap:address location="http://rustylogiccms/CMS/Services/SessionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>